.tooltip-inner {
	max-width: 350px;
}

a.not-underline {
	text-decoration: none;
}

.container {
	max-width: 1000px;
}

.nav-menu {
	height: auto;
	align-self: flex-start;

	padding: 0;
}

.nav-menu li:hover {
	outline: 1px dotted blue;
	box-sizing: border-box;
}

.closer {
	position: absolute;
	top: 0;
	right: 0;
	
	display: block;
	width: 20px;
	height: 20px;

	cursor: pointer;
}

.change-avatar-button {
	display: none;
}

#grade_slider {
	position: relative;

	align-self: center;

	display: flex;
	align-items: center;

	margin-right: 20px;

	width: 200px;
	height: 30px;

	background-image: url('../images/grade_star_default.png');
	background-repeat: repeat-x;
	background-size: 20px 20px;
	background-position: left center;
}

.grade-stars{
	height: 100%;

	background-image: url('../images/grade_star_active.png');
	background-repeat: repeat-x;
	background-size: 20px 20px;
	background-position: left center;

}