{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
			Library
		{% endblock title %}
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="navbar">
				{% if user.is_authenticated %}
					<span class="mr-3 p-1 ">
						Привет, {{ user }}
					</span>
					{% if user.reader %}
						<a class="btn  btn-outline-dark btn-sm mr-3 {% if request.resolver_match.url_name == 'reader_detail' %}disabled{% endif %}" href="{% url 'reader_detail' id=user.reader.id %}">
							Мои книги
						</a>
					{% endif %}
					
					<a class="btn btn-outline-dark btn-sm" href="{% url 'logout' %}">
					Выйти
					</a>
				{% else %}
					<a class="btn btn-outline-dark btn-sm" href="{% url 'login' %}">
						Войти
					</a>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<ul class="nav col-3 nav-pills flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<li class="nav-item">
					<a href="{% url 'readers_list' %}" class="nav-link {% if request.resolver_match.url_name == 'readers_list' %}active{% endif %}">
						Главная
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'authors_list' %}" class="nav-link {% if request.resolver_match.url_name == 'authors_list' %}active{% endif %}">
						Авторы
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'books_list' %}" class="nav-link {% if request.resolver_match.url_name == 'books_list' %}active{% endif %}">
						Книги
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin" class="nav-link">
						Админ
					</a>
				</li>
			</ul>
	        <div class="col-9">
			  	{% block content %}
					<h1>Library Site</h1>
			
			
				{% endblock content %}
			</div>
		</div>	
	</div>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</body>
</html>