<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
			Library
		{% endblock title %}
	</title>
</head>
<body>
	{% block navigation %}
		<p>
			{% if user.is_authenticated %}
				hello, {{ user }}
			{% endif %}
		</p>
		<nav>
			<a href="{% url 'home' %}">Home</a>
			<a href="/admin">Admin</a>
			<a href="{% url 'authors_list' %}">Authors</a>
			<a href="{% url 'books_list' %}">Books</a>
			{% if user.is_authenticated %}
				<a href="{% url 'logout' %}">Log out</a>
			{% else %}
				<a href="{% url 'login' %}">Log in</a>
			{% endif %}			
		</nav>
	{% endblock navigation %}
	{% block content %}
		<h1>Library Site</h1>
		
		
	{% endblock content %}

	
</body>
</html>