{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
			Library
		{% endblock title %}
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
	<div class="container mw-80">
		<div class="row">
			<div class="navbar">
				{% if user.is_authenticated %}
					<div>
						{% if user.reader %}
							<img src="{{ user.reader.get_image_small.url }}">
						{% endif %}
						<span class="mr-3 p-1 ">
							Привет, {{ user }}
						</span>
							
					</div>
					
					{% if user.reader %}
						<a class="btn  btn-outline-dark btn-sm mr-3 {% if request.resolver_match.url_name == 'reader_detail' and user.reader.id == request.resolver_match.kwargs.id %}disabled{% endif %}" href="{% url 'reader_detail' id=user.reader.id %}">
							Моя страница
						</a>
						<a href="{% url 'reader_update' pk=user.reader.pk %}" class="btn btn-outline-dark mr-3 btn-sm">
							Сменить аватар
						</a>
					{% endif %}
					
					<a class="btn btn-outline-dark btn-sm" href="{% url 'logout' %}">
						Выйти
					</a>
				{% else %}
					<a class="btn btn-outline-dark btn-sm" href="{% url 'login' %}">
						Войти
					</a>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<ul class="nav-menu nav col-3 nav-pills flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<li class="nav-item">
					<a href="{% url 'readers_list' %}" class="nav-link {% if request.resolver_match.url_name == 'readers_list' %}active{% endif %}">
						Главная
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'authors_list' %}" class="nav-link {% if request.resolver_match.url_name == 'authors_list' %}active{% endif %}">
						Авторы
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'books_list' %}" class="nav-link {% if request.resolver_match.url_name == 'books_list' %}active{% endif %}">
						Книги
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin" class="nav-link">
						Админ
					</a>
				</li>
			</ul>
	        <div class="col-9">
			  	{% block content %}
					<h1>Библиотека</h1>

					
				{% endblock content %}

				{% block pagination %}
					{% if is_paginated %}
						<nav class="mb-5">
						 <ul class="pagination d-flex justify-content-center">
						 	{% if page_obj.has_previous %}
						 		 <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></li>
						 	{% endif %}

						 	{# first page #}

						 	<li class="page-item">
						 		{% if page_obj.number == 1 %}
						 			<span class="sr-only">
						 				1
						 			</span>
						 		{% else %}
						 			<a class="page-link" href="{{ request.path }}?page=1">1</a>
						 		{% endif %}
						 	</li>

						 	{# ellipsis #}

						 	{% if page_obj.number >= 4 %}
						 		<li class="page_item d-flex align-items-end ml-2 mr-2">
						 			<span class="sr_only">
						 				. . .
						 			</span>
						 		</li>
						 	{% endif %}

						 	{# 1 prev page #}

						    {% if page_obj.has_previous and page_obj.number >= 3 %}
						 		 <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
						 		 	{{ page_obj.previous_page_number }}
						 		 </a></li>
						 	{% endif %}

						 	{# current page #}

						    <li class="page-item active">
						    	<span class="page-link">
						    		 {{ page_obj.number }}
						    	</span>
						    </a>
							</li>

							{# 1 next page #}

							 {% if page_obj.has_next and page_obj.number <= page_obj.paginator.num_pages|add:-2 %}
						    	<li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
						    		{{ page_obj.next_page_number }}
						    	</a></li>
						    {% endif %}

						    {# ellipsis #}

						 	{% if page_obj.number <= page_obj.paginator.num_pages|add:-3  %}
						 		<li class="page_item d-flex align-items-end ml-2 mr-2">
						 			<span class="">. . .</span>
						 		</li>
						 	{% endif %}



							<li class="page-item">
						 		{% if page_obj.number == page_obj.paginator.num_pages %}
						 			<span class="sr-only">
						 				{{ page_obj.paginator.num_pages }}
						 			</span>
						 		{% else %}
						 			<a class="page-link" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">
						 			{{ page_obj.paginator.num_pages }}
						 			</a>
						 		{% endif %}

						 	</li>
						   
						    {% if page_obj.has_next %}
						    	<li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
						    {% endif %}
						    
						  </ul>
						 </nav>
					{% endif %}
					
				{% endblock pagination %}


				{% block form %}
					
				{% endblock form %}

			</div>
		</div>	
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{% static 'js/index.js' %}"></script>
	{% block scripts %}
		
	{% endblock scripts %}
</body>
</html>