{% extends "base.html" %}

{% load thumbnail %}

{% block content %}
	<h1>
		{{ author }}
	</h1>
	<p>
		(
		{{ author.date_of_birth }} - 
		{% if author.date_of_death %}
			{{ author.date_of_death }}
		{% else %}
			наши дни
		{% endif %}
		)
	</p>	
	<p class="clearfix">
		<img class="bg-light float-left mr-2 mb-3" src="{{ author.get_image_large.url }}">
		{{ author.biography }}
	</p>


	<h4 class="mb-3">Все книги автора</h4>
	{% include "catalog/item_list.html" with items=author.book_set.all %}
	{% if perms.catalog.change_author %}
		{% include "catalog/detail_item_bar.html" with object=author update_view_name='author_update' delete_view_name='author_delete' %}
	{% endif %}
{% endblock content %}