{% extends "base.html" %}

{% block title %}
	Все читатели библиотеки
{% endblock title %}

{% block content %}
	<h1 class="mb-4">Все читатели</h1>
	<ul class="list-group list-group-flush mb-5">
		{% for reader in readers %}
			<li class="list-group-item p-0">
				<a class="d-block btn-light p-2 not-underline" href="{{ reader.get_absolute_url }}">
					{{ reader }}
				</a>
			</li>
		{% endfor %}
	</ul>
	<h2>Зарегистрироваться</h2>	
	{% include "catalog/form.html" with form=register_reader_form submit_value="Зарегистрироваться" %}
{% endblock content %}